version 12.1X47-D40.1;
system {
    host-name R1;
    root-authentication {
        encrypted-password "$1$1teC89hL$D0NX/hBCZW5EWC4juyRVl."; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$jIUuLL8M$aCJfxFi4KOsjqZKavHkPc0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {                 
            any any;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.254.0.35/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.1.0.111/24;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 10.2.0.111/24;
            }                           
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 10.10.0.2/30;
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet {
                address 10.3.0.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.0.1/32;
            }
        }
    }
}
routing-options {
    autonomous-system 65000;
}
protocols {                             
    bgp {
        group EBGP {
            export TO-EBGP;
            peer-as 100;
            neighbor 10.10.0.1;
        }
        group IBGP {
            type internal;
            local-address 192.168.0.1;
            export NHS;
            neighbor 192.168.0.2;
            neighbor 192.168.0.3;
        }
    }
    ospf {
        area 0.0.0.0 {
            interface lo0.0;
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
            interface ge-0/0/4.0;
        }
    }
}
policy-options {
    policy-statement NHS {
        then {
            next-hop self;
        }                               
    }
    policy-statement TO-EBGP {
        from protocol ospf;
        then accept;
    }
}
security {
    policies {
        default-policy {
            permit-all;
        }
    }
    zones {
        security-zone TRUST {
            host-inbound-traffic {
                system-services {
                    any-service;
                }
                protocols {
                    all;
                }
            }
            interfaces {
                all;
            }
        }
    }
}  
