version 12.1X47-D40.1;
system {
    host-name R3;
    root-authentication {
        encrypted-password "$1$1KIQ5F9L$BvvgZGImSoa/3mEHK2ns41"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$j959Az4H$Gb/5g1asJWczehdmgyoeO/"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {                 
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
interfaces {
    ge-0/0/0 {
        description "MGMT INTERFACE - DO NOT DELETE";
        unit 0 {
            family inet {
                address 10.254.0.38/24;
            }
        }
    }
    ge-0/0/1 {
        description "R1 WAN connection";
        unit 0 {
            family inet {
                address 10.10.0.1/30;
            }
        }
    }
    ge-0/0/2 {
        description "R2 WAN connection";
        unit 0 {                        
            family inet {
                address 10.20.0.1/30;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 10.3.0.10/24;
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet {
                address 10.4.0.10/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.0.3/32;
            }
        }
    }
}
routing-options {                       
    autonomous-system 65000 loops 2;
}
protocols {
    bgp {
        group IBGP {
            type internal;
            local-address 192.168.0.3;
            neighbor 192.168.0.1;
            neighbor 192.168.0.2;
        }
    }
    ospf {
        area 0.0.0.0 {
            interface lo0.0;
            interface ge-0/0/3.0;
            interface ge-0/0/4.0;
        }
    }
}
policy-options {
    policy-statement STATIC-to-BGP {
        term STATIC-BGP {
            from protocol static;
            then accept;
        }
    }
}
security {                              
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
        }
    }
    flow {
        tcp-session {
            no-syn-check;
        }
    }
    policies {
        default-policy {
            permit-all;
        }
    }
    zones {
        security-zone trust {
            interfaces {
                all {
                    host-inbound-traffic {
                        system-services {
                            any-service;
                        }
                        protocols {
                            all;
                        }               
                    }
                }
            }
        }
    }
}
routing-instances {
    INTERNET {
        instance-type virtual-router;
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
        routing-options {
            static {
                route 0.0.0.0/0 reject;
            }
        }
        protocols {
            bgp {
                export STATIC-to-BGP;
                group EBGP {
                    neighbor 10.10.0.2 {
                        peer-as 65000;
                        local-as 100 loops 2;
                    }
                    neighbor 10.20.0.2 {
                        peer-as 65000;
                        local-as 200 loops 2;
                    }                   
                }
            }
        }
    }
}
